
.advantages {
  text-transform: uppercase;
}

// Heading
//---------------------

.advantages__heading {
  padding: 34px 25px 36px;

  .heading__title {
    margin-bottom: 36px;
  }

  .heading__description {
    max-width: 500px;
  }

  @media (min-width: $vp-768) {
    padding: 49px 60px 55px;

    .heading__title {
      margin-bottom: 29px;

      font-size: 21px;
    }
  }

  @media (min-width: $vp-1200) {
    padding: 60px 120px 44px;
  }
}

// Figure
//---------------------

.advantages__depiction {
  margin: 0;

  background-color: $color-seagull;

  @media (max-width: ($vp-768 - 1px)) {
    &--devider {
      clip-path: polygon(50% 3%, 100% 0, 100% 100%, 0 100%, 0 0);

      .advantages__depiction-about {
        padding: 49px 18px 40px;
      }
    }
  }

  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: 1fr 2fr;

    &--columns {
      grid-template-columns: 2fr 1fr;
    }

    picture {
      position: relative;
    }
  }
}

.advantages__depiction-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 37px 18px;

  text-align: center;
  color: $color-white;

  @media (min-width: $vp-768) {
    padding: 52px 33px 30px;

    &--order {
      order: 1;
    }
  }

  @media (min-width: $vp-1200) {
    padding: 52px 50px 51px;

    &--order {
      .advantages__description {
        max-width: 250px;
      }
    }
  }
}

.advantages__image {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;

  @media (max-width: ($vp-768 - 1px)) {
    max-height: 260px;
  }

  @media (min-width: $vp-768) {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
  }
}

// Subtitle & Description
//--------------------

.advantages__subtitle {
  margin: 0 auto;
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 26px;

  @media (min-width: $vp-768) {
    max-width: 159px;
    margin-bottom: 15px;

    font-size: 21px;
  }
}

.advantages__number {
  display: block;
  max-width: 190px;
  margin: 0 auto;
  margin-bottom: 17px;

  @media (min-width: $vp-768) {
    margin-bottom: 22px;
  }

  @media (min-width: $vp-1200) {
    margin-bottom: 23px;
  }
}

.advantages__description {
  margin: 0 auto;

  @media (min-width: $vp-768) {
    max-width: 190px;
  }

  @media (min-width: $vp-1200) {
    max-width: 286px;
  }
}

// Services list
//-----------------------------

.advantages__services-list {
  display: grid;
  margin: 0;
  padding: 23px 18px 21px;

  list-style: none;

  .advantages__description {
    color: $color-night-rider;
  }

  @media (min-width: $vp-768) {
    padding: 0;

    text-align: center;

    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__services-item {
  position: relative;

  padding: 8px 0 25px 47px;

  &--housing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    background-image: url("../img/svg/house-icon.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
  }

  &--eating::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    background-image: url("../img/svg/burger-icon.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
  }

  &--souvenirs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    background-image: url("../img/svg/gift-icon.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
  }

  .advantages__subtitle {
    margin-bottom: 16px;

    @media (min-width: $vp-768) {
      margin-bottom: 23px;
    }
  }

  @media (max-width: ($vp-768 - 1px)) {
    max-width: 400px;
    margin: 0 auto;

    &--souvenirs {
      br {
        display: none;
      }
    }
  }

  @media (min-width: $vp-768) {
    padding: 156px 33px 64px;

    &--housing::before {
      top: 58px;
      left: 50%;

      width: 78px;
      height: 77px;

      background-size: 78px 77px;
      transform: translateX(-50%);
    }

    &--eating::before {
      top: 58px;
      left: 50%;

      width: 80px;
      height: 77px;

      background-size: 80px 77px;
      transform: translateX(-50%);
    }

    &--souvenirs::before {
      top: 62px;
      left: 50%;

      width: 75px;
      height: 79px;

      background-size: 81px 79px;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $vp-1200) {
    padding: 169px 50px 69px;

    &--housing::before {
      top: 66px;

      width: 80px;
      height: 78px;

      background-size: 80px 78px;
    }

    &--eating::before {
      top: 68px;

      width: 77px;
      height: 78px;

      background-size: 73px 78px;
    }

    &--souvenirs::before {
      top: 69px;

      width: 95px;
      height: 75px;

      background-size: 95px 75px;
    }

    &--souvenirs {
      .advantages__description {
        max-width: 225px;
      }
    }
  }
}

// Features list
//-------------------------------

.advantages__features-list {
  display: grid;
  margin: 0;
  padding: 0 0 1px;

  list-style: none;
  text-align: center;

  background-color: $color-whisper;

  .advantages__number,
  .advantages__description {
    color: $color-night-rider;
  }

  @media (min-width: $vp-768) {
    padding: 0;

    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__features-item {
  position: relative;

  padding: 25px 33px;

  @media (max-width: ($vp-768 - 1px)) {
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 18px;

      width: calc(100% - 36px);
      height: 1px;

      background-color: $color-add-light-grey;
    }
  }

  @media (min-width: $vp-768) {
    padding: 41px 33px;
  }

  @media (min-width: $vp-768) and (max-width: ($vp-1200 - 1px)) {
    &:nth-child(2) {
      .advantages__description {
        max-width: 163px;
      }
    }
  }

  @media (min-width: $vp-1200) {
    padding: 52px 50px;
  }
}
