
.advantages {
  text-transform: uppercase;
}

// Heading
//---------------------

.advantages__heading {
  padding: 34px 25px 37px;

  .heading__title {
    margin-bottom: 36px;
  }

  .heading__description {
    max-width: 500px;
  }

  @media (min-width: $vp-768) {
    padding: 47px 60px 56px;

    .heading__title {
      margin-bottom: 30px;

      font-size: 21px;
    }
  }

  @media (min-width: $vp-1200) {
    padding: 59px 120px 45px;
  }
}

// Figure
//---------------------

.advantages__depiction {
  margin: 0;

  background-color: $color-seagull;

  @media (max-width: ($vp-768 - 1px)) {
    &--devider {
      clip-path: polygon(50% 3%, 100% 0, 100% 100%, 0 100%, 0 0);

      .advantages__depiction-about {
        padding: 49px 18px 40px;
      }
    }
  }

  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: 1fr 2fr;

    &--columns {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.advantages__depiction-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 37px 18px;

  text-align: center;
  color: $color-white;

  @media (min-width: $vp-768) {
    padding: 52px 33px 32px;

    &--order {
      order: 1;
    }
  }

  @media (min-width: $vp-1200) {
    padding: 52px 50px 51px;
  }
}

.advantages__image {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 260px;

  object-fit: cover;

  @media (min-width: $vp-768) {
    max-height: 100%;
  }
}

// Subtitle & Description
//--------------------

.advantages__subtitle {
  margin: 0 auto;
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 26px;

  @media (min-width: $vp-768) {
    max-width: 159px;
    margin-bottom: 14px;

    font-size: 21px;
  }
}

.advantages__number {
  display: block;
  max-width: 190px;
  margin: 0 auto;
  margin-bottom: 17px;

  @media (min-width: $vp-768) {
    margin-bottom: 23px;
  }
}

.advantages__description {
  margin: 0 auto;

  @media (min-width: $vp-768) {
    max-width: 190px;
  }

  @media (min-width: $vp-1200) {
    max-width: 286px;
  }
}

// Services list
//-----------------------------

.advantages__services-list {
  margin: 0;
  padding: 23px 18px 21px;

  list-style: none;

  .advantages__description {
    color: $color-night-rider;
  }

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    text-align: center;
  }
}

.advantages__services-item {
  max-width: 410px;
  margin: 0 auto;
  padding: 8px 0 25px 47px;

  .advantages__subtitle {
    margin-bottom: 16px;

    @media (min-width: $vp-768) {
      margin-bottom: 23px;
    }
  }

  &--housing {
    background: url("../img/services-icon/icon-house.svg") no-repeat;
  }

  &--eating {
    background: url("../img/services-icon/icon-burger.svg") no-repeat;
  }

  &--souvenirs {
    background: url("../img/services-icon/icon-gift.svg") no-repeat;
  }

  @media (min-width: $vp-768) {
    width: calc(100% / 3);
    padding: 156px 33px 61px;

    &--housing {
      background-position: center 57px;
      background-size: 80px 77px;
    }

    &--eating {
      background-position: center 56px;
      background-size: 80px 78px;
    }

    &--souvenirs {
      background-position: center 56px;
      background-size: 81px 89px;
    }
  }

  @media (min-width: $vp-1200) {
    padding: 169px 50px 69px;

    &--housing {
      background-position: center 69px;
      background-size: 79px 75px;
    }

    &--eating {
      background-position: center 72px;
      background-size: 76px 73px;
    }

    &--souvenirs {
      background-position: center 69px;
      background-size: 77px 75px;
    }
  }
}

// Features list
//-------------------------------

.advantages__features-list {
  margin: 0;
  padding: 0 18px 4px;

  list-style: none;
  text-align: center;

  background-color: $color-whisper;

  .advantages__number {
    color: $color-night-rider;
  }

  .advantages__description {
    color: $color-night-rider;
  }

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.advantages__features-item {
  padding: 24px 15px 24px;

  border-bottom: 1px solid $color-add-light-grey;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $vp-768) {
    width: calc(100% / 3);
    padding: 41px 33px 41px;

    border-bottom: none;
  }

  @media (min-width: $vp-768) and (max-width: ($vp-1200 - 1px)) {
    &:nth-child(2) .advantages__description {
      max-width: 163px;
    }
  }

  @media (min-width: $vp-1200) {
    padding: 52px 50px;
  }
}
