// Hamburger menu
//--------------------------

.burger {
  position: absolute;
  right: 20px;
  z-index: 10;

  height: 100%;
  min-height: 22px;
  margin: 0;
  padding: 17px 0 17px;

  background: $transparent;
  border: none;
  cursor: pointer;

  .no-js & {
    display: none;
  }

  @media (min-width: $vp-768) {
    display: none;
  }
}

.burger__line {
  display: block;
  width: 23px;
  height: 4px;

  background-color: $color-seagull;

  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);

  &--top {
    margin-bottom: 5px;
  }

  &--low {
    margin-top: 5px;
  }

  .is-open & {
    width: 27px;

    background-color: $color-white;

    &--top {
      margin-bottom: 0;

      transform: rotate(405deg);
    }

    &--mid {
      opacity: 0;
    }

    &--low {
      margin-top: -8px;

      transform: rotate(-405deg);
    }
  }
}
