.button {
  display: block;
  padding: 16px 30px 16px 30px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: $ff-ptsans;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-seagull;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    color: rgba($color-white, 0.3);

    background-color: $color-shakespeare-darken;
  }

  &:focus-visible {
    outline: 3px $color-seagull solid;
    outline-offset: 3px;
  }

  &:disabled {
    color: $color-white;

    background-color: $color-add-whisper;
    cursor: default;
  }
}
