// Heading
//--------------------------------------

.feedback__heading {
  padding: 36px 20px 28px;

  @media (min-width: $vp-768) {
    padding: 64px 60px 44px;
  }

  @media (min-width: $vp-768) and (max-width: ($vp-1200 - 1px)) {
    .heading__title {
      margin-bottom: 21px;
    }
  }

  @media (min-width: $vp-1200) {
    padding: 115px 120px 4px;
  }
}

// Form
//--------------------------------------

.feedback__form {
  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 64px 60px;
  }

  @media (min-width: $vp-1200) {
    padding: 64px 120px;
  }
}

.feedback__fieldset {
  margin: 0;
  padding: 25px 20px 24px;

  border: none;

  @media (max-width: ($vp-768 - 1px)) {
    &--half:first-child {
      padding-bottom: 39px;
    }

    &--half:nth-child(2) {
      padding-bottom: 34px;
    }
  }

  @media (min-width: $vp-768) and (max-width: ($vp-1200 - 1px)) {
    &:nth-child(4) {
      margin-bottom: 42px;
    }
  }

  @media (min-width: $vp-768) {
    position: relative;

    width: 100%;
    margin-bottom: 48px;
    padding: 0;

    border-top: 1px solid $color-light-grey;

    &--half {
      width: calc(50% - 29px);
      margin-bottom: 63px;

      border-top: none;
    }

    &:first-child {
      &::after {
        content: "";
        position: absolute;
        top: -63px;
        right: -29px;

        width: 1px;
        height: calc(100% + 69px);

        background-color: $color-gainsboro;
      }
    }
  }

  @media (min-width: $vp-1200) {
    &--half {
      width: calc(50% - 49px);
      margin-bottom: 71px;
    }

    &:first-child {
      &::after {
        right: -49px;
      }
    }
  }
}

.feedback__legend {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  transform: translateY(24px);

  @media (max-width: ($vp-768 - 1px)) {
    &::before {
      content: "";
      position: absolute;
      left: -20px;

      width: calc(100% + 40px);
      height: 1px;

      background-color: $color-light-grey;
      transform: translateY(-24px);
    }
  }

  @media (min-width: $vp-768) {
    max-width: 400px;
    margin: 0 auto 28px auto;

    font-size: 21px;

    transform: translateY(0);
  }
}

// Form lists
//--------------------------------------

.feedback__list {
  display: grid;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 16px;

  &--radio {
    @media (min-width: $vp-768) {
      max-width: 576px;
      margin: 0 auto;

      grid-template-columns: repeat(2, 280px);
    }

    @media (min-width: $vp-1200) {
      max-width: 854px;
      padding: 17px 0 25px;

      column-gap: 28px;

      grid-template-columns: 280px 280px 238px;
    }
  }

  &--checkbox {
    @media (min-width: $vp-768) {
      max-width: 480px;
      margin: 0 auto;

      column-gap: 32px;

      grid-template-columns: repeat(2, 224px);
    }

    @media (min-width: $vp-1200) {
      max-width: 871px;
      padding: 31px 0 39px;

      column-gap: 63px;

      grid-template-columns: 175px 170px 153px 184px;
    }
  }
}

// Contact group
//--------------------------------------

.feedback__contact {
  display: flex;
  flex-direction: column;
}

.feedback__contact-label {
  margin-left: 16px;

  color: $color-night-rider;
  text-transform: uppercase;
}

.feedback__contact-input {
  position: relative;

  width: 100%;
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $ff-ptsans;
  color: $color-black;

  background-color: $color-white-smoke;
  border: none;

  appearance: none;

  &--phone {
    padding-right: 74px;

    background-image: url("../img/svg/tel-icon.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 58px 58px;
  }

  &--email {
    padding-right: 74px;

    background-image: url("../img/svg/email-icon.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 58px 58px;
  }

  &--textarea {
    min-height: 150px;

    resize: none;

    @media (min-width: $vp-768) {
      min-height: 160px;
    }

    @media (min-width: $vp-1200) {
      max-width: 768px;
      margin: 0 auto;
    }
  }

  &::placeholder {
    color: rgb($color-black, 0.3);

    opacity: 1;
  }

  &:hover {
    background-color: $color-add-whisper;
  }

  &:focus-visible {
    background-color: $color-white;
    outline: none;
    box-shadow: 0 0 0 4px $color-add-whisper inset;
  }

  &:disabled {
    background-color: rgb($color-black, 0.3);
  }

  &::-webkit-contacts-auto-fill-button {
    position: absolute;
    left: 0;

    display: none;

    visibility: hidden;

    pointer-events: none;
  }
}

// Control group
//--------------------------------------

.feedback__control {
  position: relative;

  display: block;

  cursor: pointer;

  &:hover {
    .feedback__control-mark {
      background-color: $color-add-whisper;
    }
  }

  &:active {
    .feedback__control-mark {
      background-color: $color-light-grey;
    }

    .feedback__control-mark::after {
      opacity: 0.3;
    }
  }
}

.feedback__control-mark {
  position: absolute;
  top: 50%;

  width: 46px;
  height: 46px;

  background-color: $color-white-smoke;
  transform: translateY(-50%);

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 4px;
  }
}

.feedback__control-sign {
  display: block;
  padding: 10px 0 10px 62px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.feedback__control-input {
  &[type="radio"]:checked {
    + .feedback__control-mark::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 16px;
      height: 16px;

      background-color: $color-night-rider;
      border-radius: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &[type="checkbox"]:checked {
    + .feedback__control-mark::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 22px;
      height: 16px;

      background-image: url("../img/svg/tick.svg");
      background-repeat: no-repeat;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &:focus-visible {
    + .feedback__control-mark {
      box-shadow: 0 0 0 3px $color-seagull;
    }
  }

  &:disabled {
    + .feedback__control-mark {
      background-color: rgb($color-black, 0.3);
      cursor: default;
    }
  }
}

// Form button
//--------------------------------------

.feedback__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 31px 0 23px;
  padding: 0 20px;

  @media (min-width: $vp-768) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $vp-1200) {
    max-width: 768px;
    margin: 0 auto;
  }
}

.feedback__submit-button {
  width: 100%;

  @media (min-width: $vp-768) {
    max-width: 324px;
  }

  @media (min-width: $vp-1200) {
    max-width: 384px;
  }
}

// Form stint
//--------------------------------------

.feedback__stint {
  max-width: 250px;
  margin-top: 3px;
  margin-left: auto;

  font-size: 12px;
  color: rgb($color-night-rider, 0.6);
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-top: 6px;

    font-size: 14px;
  }
}
