.form {
  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 64px 60px;
  }

  @media (min-width: $vp-1200) {
    padding: 64px 120px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 24px 20px 24px;

  border: none;

  @media (min-width: $vp-768) {
    position: relative;

    width: 100%;
    margin-bottom: 48px;
    padding: 0;

    border-top: 1px solid $color-light-grey;

    &--half {
      width: calc(50% - 29px);
      margin-bottom: 63px;

      border-top: none;
    }

    &:first-child {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -29px;

        width: 1px;
        height: calc(100% + 14px);

        background-color: $color-light-grey;
      }
    }
  }

  @media (min-width: $vp-1200) {
    &--half {
      width: calc(50% - 49px);
      margin-bottom: 71px;
    }

    &:first-child {
      &::after {
        right: -49px;
      }
    }
  }
}

.form__legend {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  transform: translateY(24px);

  &::before {
    content: "";
    position: absolute;
    left: -20px;

    width: calc(100% + 40px);
    height: 1px;

    background-color: $color-light-grey;
    transform: translateY(-24px);
  }

  @media (min-width: $vp-768) {
    max-width: 380px;
    margin-bottom: 28px;

    font-size: 21px;

    transform: translateY(0);

    &::before {
      display: none;
    }
  }
}

// Form lists
//-----------------------------

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;

  &--contact {
    display: flex;
    flex-direction: column;

    gap: 16px;
  }

  &--radio {
    display: grid;
    align-items: center;

    gap: 16px;

    @media (min-width: $vp-768) {
      max-width: 576px;
      margin: 0 auto;

      grid-template-columns: repeat(2, 280px);
    }

    @media (min-width: $vp-1200) {
      max-width: 896px;
      padding: 17px 0 25px;

      column-gap: 28px;

      grid-template-columns: repeat(3, 280px);
    }
  }

  &--checkbox {
    display: grid;
    align-items: center;

    column-gap: 32px;

    row-gap: 16px;

    @media (min-width: $vp-768) {
      max-width: 480px;
      margin: 0 auto;

      grid-template-columns: repeat(2, 224px);
    }

    @media (min-width: $vp-1200) {
      max-width: 883px;
      padding: 31px 0 39px;

      column-gap: 64px;

      grid-template-columns: repeat(4, max-content);
    }
  }
}

.form__contact {
  display: flex;
  flex-direction: column;
}

// Form button
//-----------------------------

.form__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  @media (min-width: $vp-768) {
    padding: 0;
  }

  @media (min-width: $vp-1200) {
    max-width: 768px;
    margin: 0 auto;
  }
}

.form__submit-button {
  width: 100%;

  @media (min-width: $vp-768) {
    max-width: 324px;
  }

  @media (min-width: $vp-1200) {
    max-width: 384px;
  }
}

.form__stint {
  max-width: 250px;
  margin-top: 3px;
  margin-left: auto;

  font-size: 12px;
  color: rgb($color-night-rider, 0.6);
  text-transform: uppercase;
}
