.group-contact__label {
  margin-left: 16px;

  color: $color-night-rider;
  text-transform: uppercase;
}

.group-contact__input {
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $ff-ptsans;
  color: $color-black;

  background-color: $color-white-smoke;
  border: none;

  &--phone {
    padding-right: 60px;

    background-image: url("../img/form-icon/tel-icon.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  &--email {
    padding-right: 60px;

    background-image: url("../img/form-icon/email-icon.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  &--textarea {
    display: block;
    width: 100%;
    min-height: 150px;

    resize: none;

    @media (min-width: $vp-768) {
      min-height: 160px;
    }

    @media (min-width: $vp-1200) {
      max-width: 768px;
      margin: 0 auto;
    }
  }

  &::placeholder {
    color: rgb($color-black, 0.3);
  }

  &:hover {
    background-color: $color-add-whisper;
  }

  &:focus-visible {
    background-color: $color-white;
    outline: none;
    box-shadow: 0 0 0 4px $color-add-whisper inset;
  }

  &:disabled {
    background-color: rgb($color-black, 0.3);
  }
}
