.group-contact__label {
  color: $color-night-rider;
  text-transform: uppercase;
}

.group-contact__input {
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $ff-ptsans;
  color: $color-black;

  background-color: $color-white-smoke;
  border: none;

  &::placeholder {
    color: rgb($color-black, 0.3);
  }

  &--textarea {
    width: 100%;
    min-height: 150px;

    resize: none;
  }
}
