
.header-nav {
  position: relative;
}

.header-nav__logo {
  position: absolute;
  left: 50%;
  z-index: 2;

  display: block;
  width: 185px;
  height: 96px;

  transform: translateX(-50%);
}

.header-nav__logo-image {
  display: block;
}

.header-nav__list {
  position: absolute;
  z-index: 5;

  display: none;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;

  background-color: $color-seagull;

  .no-js & {
    position: relative;

    display: grid;
  }

  .is-open & {
    display: grid;
  }

  @media (min-width: $vp-768) {
    position: relative;

    display: grid;

    background-color: $transparent;

    grid-template-columns: repeat(5, 1fr);
  }
}

.header-nav__item {
  box-shadow: 0 -1px 0 rgba($color-black, 0.2), inset 0 1px 0 rgba($color-white, 0.2);

  &:last-child {
    background: linear-gradient(to bottom, $transparent 90%, rgba($color-black, 0.2) 100%);
  }

  @media (min-width: $vp-768) {
    box-shadow: none;

    &:nth-child(3),
    &:nth-child(7) {
      grid-column-start: 4;
    }

    &:last-child {
      background: linear-gradient(to bottom, $transparent, $transparent);
    }
  }
}

.header-nav__link {
  display: block;
  padding: 17px 55px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-white;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    padding: 18px 20px 17px;

    font-size: inherit;
    line-height: inherit;
    color: $color-black;

    &--current {
      color: $color-roman-coffee;
    }
  }
}
