
.header-nav {
  position: relative;
}

.header-nav__logo {
  position: absolute;
  left: 50%;
  z-index: 3;

  display: block;
  width: 185px;
  height: 96px;

  transform: translateX(-50%);
  cursor: default;

  &--inner {
    &:hover {
      cursor: pointer;
      filter: drop-shadow(0 -2px 5px $color-night-rider);
    }

    &:active {
      filter: drop-shadow(0 -2px 3px $color-night-rider);
    }

    &:focus-visible {
      outline: none;
      filter: drop-shadow(0 -2px 5px $color-night-rider);
    }
  }
}

.header-nav__logo-image {
  display: block;
}

.header-nav__list {
  position: absolute;
  z-index: 5;

  display: none;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;

  .no-js & {
    position: relative;

    display: grid;
  }

  .is-open & {
    display: grid;
  }

  @media (max-width: ($vp-768 - 1px)) {
    background-color: $color-seagull;
  }

  @media (min-width: $vp-768) {
    position: relative;
    z-index: 1;

    display: grid;

    grid-template-columns: repeat(5, 1fr);
  }
}

.header-nav__item {
  @media (max-width: ($vp-768 - 1px)) {
    box-shadow: 0 -1px 0 rgba($color-black, 0.2), inset 0 1px 0 rgba($color-white, 0.2);

    &:last-child {
      background: linear-gradient(to bottom, $transparent 90%, rgba($color-black, 0.2) 100%);
    }
  }

  @media (min-width: $vp-768) {
    &:nth-child(4n - 1) {
      grid-column-start: 4;
    }
  }
}

.header-nav__link {
  display: block;
  padding: 17px 55px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-white;
  text-transform: uppercase;

  @media (max-width: ($vp-768 - 1px)) {
    &:hover {
      background-color: $color-shakespeare;
    }

    &:active {
      color: rgb($color-white, 0.3);

      background-color: $color-shakespeare-darken;
    }
  }

  @media (min-width: $vp-768) {
    padding: 18px 20px 17px;

    font-size: 14px;
    line-height: 21px;
    color: $color-black;

    &--current {
      color: $color-roman-coffee;

      outline: none;
      cursor: default;
    }

    &:not(&--current):hover {
      color: $color-seagull;
    }

    &:not(&--current):active {
      color: rgb($color-black, 0.3);
    }

    &:not(&--current):focus-visible {
      color: $color-seagull;

      background-color: $color-white-smoke;
      outline: none;
    }
  }
}
