.hotel-search {
  padding: 39px 18px 49px;

  text-align: center;

  @media (min-width: $vp-768) {
    padding: 60px 60px 55px;
  }

  @media (min-width: $vp-1200) {
    padding: 62px 120px 66px;
  }
}

.hotel-search__heading {
  .heading__title {
    margin-bottom: 21px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    .heading__title {
      font-size: 21px;
    }
  }

  @media (min-width: $vp-768) {
    .heading__title {
      margin-bottom: 32px;
    }
  }
}

.hotel-search__button {
  max-width: 458px;
  margin: 0 auto;
  margin-top: 32px;

  @media (min-width: $vp-768) {
    margin-top: 45px;
  }
}
