.hotel-search {
  padding: 39px 18px 49px;

  text-align: center;

  @media (min-width: $vp-768) {
    padding: 60px 60px 55px;
  }

  @media (min-width: $vp-1200) {
    padding: 61px 120px 66px;
  }
}

.hotel-search__heading {
  @media (max-width: ($vp-768 - 1px)) {
    & .heading__title {
      font-size: 21px;
    }
  }
}

.hotel-search__button {
  max-width: 458px;
  margin: 0 auto;
  margin-top: 32px;
}
