.page-footer {
  padding: 33px 0;

  text-align: center;
}

.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.page-footer__copyright {
  color: $color-black;
  text-transform: uppercase;
}
