.page-header {
  position: relative;

  min-height: 56px;
}

.page-header__toggle {
  position: absolute;
  right: 20px;
  z-index: 10;

  height: 100%;
  margin: 0;
  padding: 17px 0 17px 0;

  background: $transparent;
  border: none;
  cursor: pointer;

  .no-js & {
    display: none;
  }

  @media (min-width: $vp-768) {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__toggle-line {
  display: block;
  width: 23px;
  height: 4px;

  background-color: $color-seagull;

  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);

  &--top {
    margin-bottom: 5px;
  }

  &--low {
    margin-top: 5px;
  }

  .is-open & {
    width: 27px;

    background-color: $color-white;

    &--top {
      margin-bottom: 0;

      transform: rotate(405deg);
    }

    &--mid {
      opacity: 0;
    }

    &--low {
      margin-top: -8px;

      transform: rotate(-405deg);
    }
  }
}

.page-header__nav {
  position: relative;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  z-index: 3;

  display: block;
  width: 185px;
  height: 96px;

  transform: translateX(-50%);
  cursor: default;

  &--inner {
    &:hover {
      cursor: pointer;
      filter: drop-shadow(0 -2px 3px $color-night-rider);
    }

    &:active {
      filter: drop-shadow(0 -2px 2px $color-night-rider);
    }

    &:focus-visible {
      outline: none;
      filter: drop-shadow(0 -2px 3px $color-night-rider);
    }
  }
}

.page-header__logo-image {
  display: block;
}

.page-header__list {
  position: absolute;
  z-index: 5;

  display: none;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;

  .no-js & {
    position: relative;

    display: grid;
  }

  .is-open & {
    display: grid;
  }

  @media (max-width: ($vp-768 - 1px)) {
    background-color: $color-seagull;

    gap: 1px;
  }

  @media (min-width: $vp-768) {
    position: relative;
    z-index: 1;

    display: grid;

    grid-template-columns: repeat(5, 1fr);
  }
}

.page-header__item {
  @media (max-width: ($vp-768 - 1px)) {
    box-shadow: 0 -1px 0 rgba($color-black, 0.2), inset 0 1px 0 rgba($color-white, 0.2);

    &:last-child {
      background: linear-gradient(to bottom, $transparent 90%, rgba($color-black, 0.2) 100%);
    }
  }

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: center;

    &:nth-child(4n - 1) {
      grid-column-start: 4;
    }
  }
}

.page-header__link {
  display: block;
  padding: 17px 55px 12px 55px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-white;
  text-transform: uppercase;

  @media (max-width: ($vp-768 - 1px)) {
    &:hover {
      background-color: $color-shakespeare;
    }

    &:active {
      color: rgba($color-white, 0.3);

      background-color: $color-shakespeare-darken;
    }
  }

  @media (min-width: $vp-768) {
    padding: 18px 20px 17px 20px;

    font-size: 14px;
    line-height: 21px;
    color: $color-black;

    &--current {
      color: $color-roman-coffee;

      outline: none;
      cursor: default;
    }

    &:not(&--current) {
      &:hover {
        color: $color-seagull;
      }

      &:active {
        color: rgba($color-black, 0.3);
      }

      &:focus-visible {
        color: $color-seagull;

        background-color: $color-white-smoke;
        outline: none;
      }
    }
  }
}
