.page-footer {
  padding: 33px 18px;

  text-align: center;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
  }

  @media (min-width: $vp-1200) {
    padding: 36px 120px;
  }
}

.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.page-footer__list {
  margin: 30px 0 30px;

  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__copyright-text {
  margin-right: 12px;

  color: $color-black;
  text-transform: uppercase;
}
