
.photocard {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px 0;
  }

  @media (min-width: $vp-1200) {
    padding: 0;
  }
}

.photocard__item {
  display: block;

  @media (max-width: ($vp-768 - 1px)) {
    padding: 24px 20px 23px;

    border-top: 1px solid $color-add-whisper;

    &:last-child {
      border-bottom: 1px solid $color-add-whisper;
    }
  }

  @media (min-width: $vp-768) {
    width: 50%;

    background-color: $color-white-smoke;

    &--full {
      width: 100%;
    }
  }

  @media (min-width: $vp-1200) {
    &:not(&--full) {
      width: calc(100% / 3);
    }

    &--full {
      .photocard__box {
        padding-top: 320px;
      }

      .photocard__name {
        padding: 22px 22px 15px 21px;
      }

      .photocard__title {
        margin: 0;
      }
    }
  }
}

// Photo figure
//-------------------------

.photocard__box {
  position: relative;

  margin: 0;

  @media (min-width: $vp-1200) {
    display: flex;
    height: 100%;
    padding-top: 187px;
  }
}

.photocard__link {
  display: block;
  overflow: hidden;

  &:hover {
    .photocard__image {
      transform: scale(1.01);
    }
  }

  &:focus-visible {
    outline: none;
    opacity: 0.8;
  }

  @media (min-width: $vp-1200) {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}

.photocard__image {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 280px;

  object-fit: cover;

  @media (min-width: $vp-768) {
    max-height: 400px;
  }

  @media (min-width: $vp-1200) {
    max-height: 100%;
  }
}

//-------------------------- figcaption

.photocard__name {
  padding: 15px 0 0;

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 23px 20px 15px;
  }

  @media (min-width: $vp-1200) {
    position: relative;
    z-index: 1;

    align-items: center;
    width: 100%;
    padding: 17px 20px 17px 25px;

    color: $color-white;

    background-color: rgb($color-black, 0.3);
  }
}

.photocard__wrapper {
  margin-bottom: 11px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
  }
}

.photocard__title {
  max-width: 180px;
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: $vp-1200) {
    margin-bottom: 4px;
  }
}

.photocard__description {
  max-width: 170px;
  margin: 0;

  color: $color-night-rider;

  @media (min-width: $vp-1200) {
    color: $color-white;
  }
}

//---------------------------- likes

.photocard__counter-button {
  display: flex;
  align-items: flex-end;
  padding: 0;

  font-family: $ff-ptsans;
  color: $color-black;

  background: $transparent;
  border: none;
  cursor: pointer;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px $color-seagull;
  }
}

.photocard__likes {
  position: relative;

  display: block;
  padding: 4px 0 4px 37px;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 23px;
    height: 21px;

    background-color: $color-black;
    opacity: 0.3;

    mask: url("../img/svg/like-icon.svg") no-repeat;
  }

  @media (min-width: $vp-768) {
    margin-top: 5px;
    padding-left: 32px;
  }

  @media (min-width: $vp-1200) {
    margin-top: 0;
    padding: 4px 0 0 32px;

    color: $color-white;

    &::before {
      background-color: $color-white;
      opacity: 1;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}
