
.photocard {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px 0;
  }

  @media (min-width: $vp-1200) {
    padding: 0;
  }
}

.photocard__item {
  padding: 24px 20px 25px;

  border-bottom: 1px solid $color-add-whisper;

  &--full {
    border-top: 1px solid $color-add-whisper;
  }

  @media (min-width: $vp-768) {
    width: 50%;
    padding: 0;

    background-color: $color-white-smoke;
    border: none;

    &--full {
      width: 100%;
    }
  }

  @media (min-width: $vp-1200) {
    &:not(:first-child) {
      width: calc(100% / 3);
    }

    &--full .photocard__box {
      padding-top: 320px;
    }
  }
}

// Photo
//------------------------- figure

.photocard__box {
  position: relative;

  margin: 0;

  @media (min-width: $vp-1200) {
    display: flex;
    height: 100%;
    padding-top: 187px;
  }
}

.photocard__link {
  display: block;

  @media (min-width: $vp-1200) {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.photocard__image {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 280px;

  object-fit: cover;

  @media (min-width: $vp-1200) {
    max-height: 100%;
  }
}

//-------------------------- figcaption

.photocard__name {
  padding: 15px 0 0;

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;
  }

  @media (min-width: $vp-1200) {
    position: relative;
    z-index: 1;

    width: 100%;
    padding: 17px 25px;

    color: $color-white;

    background-color: rgb($color-black, 0.3);
  }
}

.photocard__wrapper {
  margin-bottom: 11px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
  }
}

.photocard__title {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 700;
  text-transform: uppercase;
}

.photocard__description {
  max-width: 170px;
  margin: 0;

  color: $color-night-rider;

  @media (min-width: $vp-1200) {
    color: $color-white;
  }
}

//---------------------------- likes

.photocard__counter-button {
  display: flex;
  align-items: flex-end;
  padding: 0;

  font-family: $ff-ptsans;

  background: $transparent;
  border: none;
  cursor: pointer;
}

.photocard__like-icon {
  opacity: 0.3;

  @media (min-width: $vp-1200) {
    opacity: 1;

    fill: $color-white;
  }
}

.photocard__likes {
  display: block;
  margin-left: 14px;

  font-weight: 700;
  color: $color-black;

  @media (min-width: $vp-1200) {
    color: $color-white;
  }
}
