.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  list-style: none;

  gap: 6px;

  @media (min-width: $vp-768) {
    max-width: 210px;
  }
}

.social__link {
  position: relative;

  display: block;
  width: 48px;
  height: 48px;

  background-color: $color-seagull;

  &--vkontakte::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 24px;
    height: 14px;

    background-image: url("../img/svg/vk-icon.svg");
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }

  &--telegram::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 21px;
    height: 18px;

    background-image: url("../img/svg/telegram-icon.svg");
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }

  &--youtube::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 20px;
    height: 14px;

    background-image: url("../img/svg/youtube-icon.svg");
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    background-color: $color-shakespeare-darken;

    &::after {
      opacity: 0.3;
    }
  }

  &:focus-visible {
    outline: 3px $color-seagull solid;
  }
}
