.video-content {
  padding: 0 20px 0;

  @media (min-width: $vp-768) {
    padding: 0 60px 40px;
  }

  @media (min-width: $vp-1200) {
    padding: 0 200px 84px;
  }
}

.video-content__heading {
  padding: 17px 6px 40px;

  @media (min-width: $vp-768) {
    padding: 57px 0 90px;
  }

  @media (min-width: $vp-1200) {
    padding: 60px 0 86px;
  }
}
