// Colors
// ------------------------

// Default

$color-black:                               #000000;
$color-white:                               #ffffff;
$transparent:                               rgba(0, 0, 0, 0);

// Project pallete

$color-whisper:                             #eeeeee;
$color-add-whisper:                         #e5e5e5;
$color-back-whisper:                        #eaeaea;
$color-white-smoke:                         #f2f2f2;
$color-gainsboro:                           #dbdbdb;
$color-light-grey:                          #d5d5d5;
$color-add-light-grey:                      #d6d6d6;
$color-night-rider:                         #333333;
$color-roman-coffee:                        #766357;
$color-pink-swan:                           #b3b3b3;
$color-seagull:                             #81b3d2;
$color-shakespeare:                         #669ec0;
$color-shakespeare-darken:                  #5496bd;
$color-pattens-blue:                        #c5dcea;

// Typography
// ------------------------

$ff-ptsans: "PT Sans", "Arial", sans-serif;

// Viewports
// ------------------------

$vp-768: 768px;
$vp-1200: 1200px;
