@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format(woff2), url("../fonts/ptsans.woff") format(woff);
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format(woff2), url("../fonts/ptsansbold.woff") format(woff);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  position: relative;
  min-height: 56px;
}

.header-nav {
  position: relative;
}

.header-nav__logo {
  position: absolute;
  left: 50%;
  z-index: 3;
  display: block;
  width: 185px;
  height: 96px;
  transform: translateX(-50%);
  cursor: default;
}
.header-nav__logo--inner:hover {
  cursor: pointer;
  filter: drop-shadow(0 -2px 5px #333333);
}
.header-nav__logo--inner:active {
  filter: drop-shadow(0 -2px 3px #333333);
}
.header-nav__logo--inner:focus-visible {
  outline: none;
  filter: drop-shadow(0 -2px 5px #333333);
}

.header-nav__logo-image {
  display: block;
}

.header-nav__list {
  position: absolute;
  z-index: 5;
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.no-js .header-nav__list {
  position: relative;
  display: grid;
}
.is-open .header-nav__list {
  display: grid;
}
@media (max-width: 767px) {
  .header-nav__list {
    background-color: #81b3d2;
  }
}
@media (min-width: 768px) {
  .header-nav__list {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 767px) {
  .header-nav__item {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
  .header-nav__item:last-child {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.2) 100%);
  }
}
@media (min-width: 768px) {
  .header-nav__item:nth-child(3), .header-nav__item:nth-child(7) {
    grid-column-start: 4;
  }
}

.header-nav__link {
  display: block;
  padding: 17px 55px 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .header-nav__link:hover {
    background-color: #669ec0;
  }
  .header-nav__link:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }
}
@media (min-width: 768px) {
  .header-nav__link {
    padding: 18px 20px 17px;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  .header-nav__link--current {
    color: #766357;
    outline: none;
    cursor: default;
  }
  .header-nav__link:not(.header-nav__link--current):hover {
    color: #81b3d2;
  }
  .header-nav__link:not(.header-nav__link--current):active {
    color: rgba(0, 0, 0, 0.3);
  }
  .header-nav__link:not(.header-nav__link--current):focus-visible {
    color: #81b3d2;
    background-color: #f2f2f2;
    outline: none;
  }
}

.page-main {
  flex-grow: 1;
}

.heading {
  text-align: center;
  text-transform: uppercase;
}

.heading__title {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .heading__title {
    margin-bottom: 32px;
    font-size: 30px;
  }
}

.heading__description {
  max-width: 445px;
  margin: 0 auto;
  color: #333333;
}

.button {
  display: block;
  padding: 16px 30px 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.button:focus-visible {
  outline: 3px #81b3d2 solid;
  outline-offset: 3px;
}
.button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

.burger {
  position: absolute;
  right: 20px;
  z-index: 10;
  height: 100%;
  min-height: 22px;
  margin: 0;
  padding: 17px 0 17px;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.no-js .burger {
  display: none;
}
@media (min-width: 768px) {
  .burger {
    display: none;
  }
}

.burger__line {
  display: block;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__line--top {
  margin-bottom: 5px;
}
.burger__line--low {
  margin-top: 5px;
}
.is-open .burger__line {
  width: 27px;
  background-color: #ffffff;
}
.is-open .burger__line--top {
  margin-bottom: 0;
  transform: rotate(405deg);
}
.is-open .burger__line--mid {
  opacity: 0;
}
.is-open .burger__line--low {
  margin-top: -8px;
  transform: rotate(-405deg);
}

.intro {
  position: relative;
  padding: 90px 18px 85px;
  background-color: #c5dcea;
  background-image: url("../img/intro/intro-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro {
    background-image: url("../img/intro/intro-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .intro {
    background-image: url("../img/intro/intro-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url("../img/intro/intro-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .intro {
    background-image: url("../img/intro/intro-desktop.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url("../img/intro/intro-desktop@2x.jpg");
  }
}
.intro::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  z-index: 1;
  width: 100%;
  height: 58px;
  background: url("../img/intro/intro-devider.svg") no-repeat center;
}
@media (min-width: 768px) {
  .intro {
    padding: 77px 60px 91px;
  }
}
@media (min-width: 1200px) {
  .intro {
    padding: 78px 120px 90px;
  }
}
.intro--inner {
  padding: 52px 18px 67px;
}
@media (min-width: 768px) {
  .intro--inner {
    padding: 95px 60px 117px;
  }
}
@media (min-width: 1200px) {
  .intro--inner {
    padding: 101px 120px 120px;
  }
}

.intro__slogan {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .intro__slogan {
    width: 461px;
    height: 350px;
  }
}
@media (min-width: 768px) {
  .intro__slogan--inner {
    width: 457px;
    height: 78px;
  }
}
@media (min-width: 1200px) {
  .intro__slogan--inner {
    width: 460px;
    height: 80px;
  }
}

.advantages {
  text-transform: uppercase;
}

.advantages__heading {
  padding: 34px 25px 37px;
}
.advantages__heading .heading__title {
  margin-bottom: 36px;
}
.advantages__heading .heading__description {
  max-width: 500px;
}
@media (min-width: 768px) {
  .advantages__heading {
    padding: 47px 60px 56px;
  }
  .advantages__heading .heading__title {
    margin-bottom: 30px;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .advantages__heading {
    padding: 59px 120px 45px;
  }
}

.advantages__depiction {
  margin: 0;
  background-color: #81b3d2;
}
@media (max-width: 767px) {
  .advantages__depiction--devider {
    -webkit-clip-path: polygon(50% 3%, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 3%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  .advantages__depiction--devider .advantages__depiction-about {
    padding: 49px 18px 40px;
  }
}
@media (min-width: 768px) {
  .advantages__depiction {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .advantages__depiction--columns {
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__depiction-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 37px 18px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__depiction-about {
    padding: 52px 33px 32px;
  }
  .advantages__depiction-about--order {
    order: 1;
  }
}
@media (min-width: 1200px) {
  .advantages__depiction-about {
    padding: 52px 50px 51px;
  }
  .advantages__depiction-about--order .advantages__description {
    max-width: 250px;
  }
}

.advantages__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .advantages__image {
    max-height: 260px;
  }
}

.advantages__subtitle {
  margin: 0 auto;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .advantages__subtitle {
    max-width: 159px;
    margin-bottom: 14px;
    font-size: 21px;
  }
}

.advantages__number {
  display: block;
  max-width: 190px;
  margin: 0 auto;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .advantages__number {
    margin-bottom: 23px;
  }
}

.advantages__description {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages__description {
    max-width: 190px;
  }
}
@media (min-width: 1200px) {
  .advantages__description {
    max-width: 286px;
  }
}

.advantages__services-list {
  margin: 0;
  padding: 23px 18px 21px;
  list-style: none;
}
.advantages__services-list .advantages__description {
  color: #333333;
}
@media (min-width: 768px) {
  .advantages__services-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
  }
}

.advantages__services-item {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding: 8px 0 25px 47px;
}
.advantages__services-item .advantages__subtitle {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .advantages__services-item .advantages__subtitle {
    margin-bottom: 23px;
  }
}
.advantages__services-item--housing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url("../img/services-icon/icon-house.svg");
  background-repeat: no-repeat;
}
.advantages__services-item--eating::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url("../img/services-icon/icon-burger.svg");
  background-repeat: no-repeat;
}
.advantages__services-item--souvenirs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url("../img/services-icon/icon-gift.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advantages__services-item {
    width: 33.3333333333%;
    padding: 156px 33px 61px;
  }
  .advantages__services-item--housing::before {
    top: 56px;
    left: 50%;
    width: 80px;
    height: 77px;
    background-size: 80px 77px;
    transform: translateX(-50%);
  }
  .advantages__services-item--eating::before {
    top: 56px;
    left: 50%;
    width: 80px;
    height: 78px;
    background-size: 80px 78px;
    transform: translateX(-50%);
  }
  .advantages__services-item--souvenirs::before {
    top: 56px;
    left: 50%;
    width: 81px;
    height: 89px;
    background-size: 81px 89px;
    transform: translateX(-50%);
  }
  .advantages__services-item--souvenirs br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages__services-item {
    padding: 169px 50px 69px;
  }
  .advantages__services-item--housing::before {
    top: 66px;
    width: 77px;
    height: 77px;
    background-size: 77px 77px;
  }
  .advantages__services-item--eating::before {
    top: 65px;
    width: 78px;
    height: 78px;
    background-size: 78px 78px;
  }
  .advantages__services-item--souvenirs::before {
    top: 66px;
    width: 82px;
    height: 82px;
    background-size: 82px 82px;
  }
  .advantages__services-item--souvenirs .advantages__description {
    max-width: 225px;
  }
}

.advantages__features-list {
  margin: 0;
  padding: 0 18px 4px;
  list-style: none;
  text-align: center;
  background-color: #eeeeee;
}
.advantages__features-list .advantages__number {
  color: #333333;
}
.advantages__features-list .advantages__description {
  color: #333333;
}
@media (min-width: 768px) {
  .advantages__features-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.advantages__features-item {
  padding: 24px 15px 24px;
}
@media (max-width: 767px) {
  .advantages__features-item {
    border-bottom: 1px solid #d6d6d6;
  }
  .advantages__features-item:last-child {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .advantages__features-item {
    width: 33.3333333333%;
    padding: 41px 33px 41px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .advantages__features-item:nth-child(2) .advantages__description {
    max-width: 163px;
  }
}
@media (min-width: 1200px) {
  .advantages__features-item {
    padding: 52px 50px;
  }
}

.hotel-search {
  padding: 39px 18px 49px;
  text-align: center;
}
@media (min-width: 768px) {
  .hotel-search {
    padding: 60px 60px 55px;
  }
}
@media (min-width: 1200px) {
  .hotel-search {
    padding: 62px 120px 66px;
  }
}

.hotel-search__heading .heading__title {
  margin-bottom: 21px;
}
@media (max-width: 767px) {
  .hotel-search__heading .heading__title {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .hotel-search__heading .heading__title {
    margin-bottom: 32px;
  }
}

.hotel-search__button {
  max-width: 458px;
  margin: 0 auto;
  margin-top: 32px;
}
@media (min-width: 768px) {
  .hotel-search__button {
    margin-top: 45px;
  }
}

.map {
  position: relative;
  height: 350px;
}
@media (max-width: 767px) {
  .map {
    padding-bottom: 9px;
  }
}

.map__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map__interactive {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.photo-content__heading {
  padding: 38px 20px 37px;
}
@media (min-width: 768px) {
  .photo-content__heading {
    padding: 66px 60px 80px;
  }
}
@media (min-width: 1200px) {
  .photo-content__heading {
    padding: 96px 120px 90px;
  }
}

.photocard {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .photocard {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px 0;
  }
}
@media (min-width: 1200px) {
  .photocard {
    padding: 0;
  }
}

.photocard__item {
  display: block;
}
@media (max-width: 767px) {
  .photocard__item {
    padding: 24px 20px 23px;
    border-top: 1px solid #e5e5e5;
  }
  .photocard__item:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}
@media (min-width: 768px) {
  .photocard__item {
    width: 50%;
    background-color: #f2f2f2;
  }
  .photocard__item--full {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .photocard__item:not(.photocard__item--full) {
    width: 33.3333333333%;
  }
  .photocard__item--full .photocard__box {
    padding-top: 320px;
  }
  .photocard__item--full .photocard__name {
    padding: 22px 22px 15px 21px;
  }
  .photocard__item--full .photocard__title {
    margin: 0;
  }
}

.photocard__box {
  position: relative;
  margin: 0;
}
@media (min-width: 1200px) {
  .photocard__box {
    display: flex;
    height: 100%;
    padding-top: 187px;
  }
}

.photocard__link {
  display: block;
}
.photocard__link:hover {
  opacity: 0.8;
}
.photocard__link:focus-visible {
  outline: none;
  opacity: 0.8;
}
@media (min-width: 1200px) {
  .photocard__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.photocard__image {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 280px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .photocard__image {
    max-height: 400px;
  }
}
@media (min-width: 1200px) {
  .photocard__image {
    max-height: 100%;
  }
}

.photocard__name {
  padding: 15px 0 0;
}
@media (min-width: 768px) {
  .photocard__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 20px 15px;
  }
}
@media (min-width: 1200px) {
  .photocard__name {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 17px 20px 17px 25px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photocard__wrapper {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .photocard__wrapper {
    margin-bottom: 0;
  }
}

.photocard__title {
  max-width: 180px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .photocard__title {
    margin-bottom: 4px;
  }
}

.photocard__description {
  max-width: 170px;
  margin: 0;
  color: #333333;
}
@media (min-width: 1200px) {
  .photocard__description {
    color: #ffffff;
  }
}

.photocard__counter-button {
  display: flex;
  align-items: flex-end;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.photocard__counter-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #81b3d2;
}

.photocard__likes {
  position: relative;
  display: block;
  padding: 4px 0 4px 37px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.photocard__likes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 21px;
  background: url("../img/photocard/like-icon-black.svg") no-repeat;
}
.photocard__likes:hover {
  opacity: 0.6;
}
.photocard__likes:active {
  opacity: 0.4;
}
@media (min-width: 768px) {
  .photocard__likes {
    padding-left: 32px;
  }
}
@media (min-width: 1200px) {
  .photocard__likes {
    padding: 4px 0 0 32px;
    color: #ffffff;
  }
  .photocard__likes::before {
    background: url("../img/photocard/like-icon-white.svg") no-repeat;
  }
}

.video-content {
  padding: 0 20px 0;
}
@media (min-width: 768px) {
  .video-content {
    padding: 0 60px 40px;
  }
}
@media (min-width: 1200px) {
  .video-content {
    padding: 0 200px 84px;
  }
}

.video-content__heading {
  padding: 17px 6px 40px;
}
@media (min-width: 768px) {
  .video-content__heading {
    padding: 57px 0 87px;
  }
}
@media (min-width: 1200px) {
  .video-content__heading {
    padding: 60px 0 86px;
  }
}

.video-controls {
  position: relative;
}

.video-controls__clip {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .video-controls__clip {
    max-height: 500px;
  }
}

.video-controls__button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 48px;
  height: 54px;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translateX(-50%) translateY(-50%);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.video-controls__button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.video-controls__button:active {
  background-color: rgba(255, 255, 255, 0.5);
}
.video-controls__button:focus-visible {
  background-color: #ffffff;
  outline: none;
}

.feedback__heading {
  padding: 36px 20px 28px;
}
@media (min-width: 768px) {
  .feedback__heading {
    padding: 64px 60px 44px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .feedback__heading .heading__title {
    margin-bottom: 21px;
  }
}
@media (min-width: 1200px) {
  .feedback__heading {
    padding: 115px 120px 4px;
  }
}

@media (min-width: 768px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 64px 60px;
  }
}
@media (min-width: 1200px) {
  .form {
    padding: 64px 120px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 25px 20px 24px;
  border: none;
}
.form__fieldset--half:first-child {
  padding-bottom: 39px;
}
.form__fieldset--half:nth-child(2) {
  padding-bottom: 34px;
}
@media (min-width: 768px) {
  .form__fieldset {
    position: relative;
    width: 100%;
    margin-bottom: 46px;
    padding: 0;
    border-top: 1px solid #d5d5d5;
  }
  .form__fieldset--half {
    width: calc(50% - 29px);
    margin-bottom: 63px;
    border-top: none;
  }
  .form__fieldset--half:first-child {
    padding-bottom: 0;
  }
  .form__fieldset--half:nth-child(2) {
    padding-bottom: 0;
  }
  .form__fieldset:first-child::after {
    content: "";
    position: absolute;
    top: -63px;
    right: -29px;
    width: 1px;
    height: calc(100% + 69px);
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .form__fieldset {
    margin-bottom: 48px;
  }
  .form__fieldset--half {
    width: calc(50% - 49px);
    margin-bottom: 71px;
  }
  .form__fieldset:first-child::after {
    right: -49px;
  }
}

.form__legend {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(24px);
}
@media (max-width: 767px) {
  .form__legend::before {
    content: "";
    position: absolute;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background-color: #d5d5d5;
    transform: translateY(-24px);
  }
}
@media (min-width: 768px) {
  .form__legend {
    max-width: 400px;
    margin-bottom: 28px;
    font-size: 21px;
    transform: translateY(0);
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form__list--contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__list--radio {
  display: grid;
  align-items: center;
  gap: 16px;
}
@media (min-width: 768px) {
  .form__list--radio {
    max-width: 576px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 280px);
  }
}
@media (min-width: 1200px) {
  .form__list--radio {
    max-width: 896px;
    margin: 0 53px 0;
    padding: 17px 0 25px;
    column-gap: 28px;
    grid-template-columns: 280px 280px 238px;
  }
}
.form__list--checkbox {
  display: grid;
  align-items: center;
  column-gap: 32px;
  row-gap: 16px;
}
@media (min-width: 768px) {
  .form__list--checkbox {
    max-width: 480px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 224px);
  }
}
@media (min-width: 1200px) {
  .form__list--checkbox {
    max-width: 883px;
    margin: 0 44px 0;
    padding: 31px 0 39px;
    column-gap: 44px;
    grid-template-columns: repeat(4, 184px);
    justify-items: center;
  }
}

.form__contact {
  display: flex;
  flex-direction: column;
}

.form__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 31px 0 23px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .form__button-wrapper {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .form__button-wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
}

.form__submit-button {
  width: 100%;
}
@media (min-width: 768px) {
  .form__submit-button {
    max-width: 324px;
  }
}
@media (min-width: 1200px) {
  .form__submit-button {
    max-width: 384px;
  }
}

.form__stint {
  max-width: 250px;
  margin-top: 3px;
  margin-left: auto;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__stint {
    margin-top: 6px;
    font-size: 14px;
  }
}

.group-contact__label {
  margin-left: 16px;
  color: #333333;
  text-transform: uppercase;
}

.group-contact__input {
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}
.group-contact__input--phone {
  padding-right: 60px;
  background-image: url("../img/form-icon/tel-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.group-contact__input--email {
  padding-right: 60px;
  background-image: url("../img/form-icon/email-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.group-contact__input--textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  resize: none;
}
@media (min-width: 768px) {
  .group-contact__input--textarea {
    min-height: 160px;
  }
}
@media (min-width: 1200px) {
  .group-contact__input--textarea {
    max-width: 768px;
    margin: 0 auto;
  }
}
.group-contact__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.group-contact__input:hover {
  background-color: #e5e5e5;
}
.group-contact__input:focus-visible {
  background-color: #ffffff;
  outline: none;
  box-shadow: 0 0 0 4px #e5e5e5 inset;
}
.group-contact__input:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.group-control {
  position: relative;
  cursor: pointer;
}
.group-control:hover .group-control__mark {
  background-color: #e5e5e5;
}
.group-control:active .group-control__mark {
  background-color: #d5d5d5;
}
.group-control:active .group-control__mark::after {
  opacity: 0.3;
}

.group-control__mark {
  position: absolute;
  top: 50%;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  transform: translateY(-50%);
}
.group-control__mark--radio {
  border-radius: 50%;
}
.group-control__mark--checkbox {
  border-radius: 4px;
}

.group-control__sign {
  display: block;
  padding: 10px 0 10px 62px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.group-control__input[type=radio]:checked + .group-control__mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.group-control__input[type=checkbox]:checked + .group-control__mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 16px;
  background: url("../img/form-icon/tick.svg") no-repeat;
  transform: translateX(-50%) translateY(-50%);
}

.group-control__input:focus-visible + .group-control__mark {
  box-shadow: 0 0 0 3px #81b3d2;
}
.group-control__input:disabled + .group-control__mark {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default;
}

.page-footer {
  padding: 33px 18px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 36px 120px;
  }
}

.page-footer__hashtag {
  display: block;
  max-width: 200px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .page-footer__hashtag {
    margin: 0 auto;
  }
}

.page-footer__list {
  margin: 0;
}
@media (max-width: 767px) {
  .page-footer__list {
    margin: 30px 0 30px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-footer__copyright:hover span {
  color: #81b3d2;
}
.page-footer__copyright:hover svg {
  fill: #81b3d2;
}
.page-footer__copyright:active span {
  color: #b3b3b3;
}
.page-footer__copyright:active svg {
  fill: #b3b3b3;
}
.page-footer__copyright:focus-visible {
  outline: 3px #81b3d2 solid;
}

.page-footer__copyright-text {
  display: block;
  max-width: 150px;
  margin-right: 12px;
  color: #000000;
  text-transform: uppercase;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 6px;
}
@media (min-width: 768px) {
  .social {
    max-width: 210px;
  }
}

.social__link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}
.social__link--vkontakte::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background-image: url("../img/footer-icon/vk.svg");
  transform: translate(-50%, -50%);
}
.social__link--telegram::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background-image: url("../img/footer-icon/telegram.svg");
  transform: translate(-50%, -50%);
}
.social__link--youtube::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background-image: url("../img/footer-icon/youtube.svg");
  transform: translate(-50%, -50%);
}
.social__link:hover {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
.social__link:active::after {
  opacity: 0.3;
}
.social__link:focus-visible {
  outline: 3px #81b3d2 solid;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal.is-open {
  display: flex;
}

.modal__wrapper {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}
.modal__wrapper--error {
  max-width: 400px;
  padding: 45px 42px 35px;
}
.modal__wrapper--error .modal__description {
  margin-bottom: 28px;
}
.modal__wrapper--error .modal__button {
  max-width: 180px;
}
.modal__wrapper--success {
  max-width: 400px;
  padding: 38px 38px 51px;
}
@media (min-width: 768px) {
  .modal__wrapper--error {
    padding: 50px 42px 49px;
  }
  .modal__wrapper--error .modal__title {
    max-width: 250px;
    margin-bottom: 21px;
    line-height: 40px;
  }
  .modal__wrapper--error .modal__description {
    margin-bottom: 48px;
  }
  .modal__wrapper--error .modal__button {
    max-width: 272px;
  }
  .modal__wrapper--success {
    max-width: 640px;
    padding: 51px 98px 52px;
  }
  .modal__wrapper--success .modal__title {
    margin-bottom: 30px;
  }
}

.modal__wrapper-button {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .modal__wrapper-button {
    max-width: 640px;
    padding: 44px 91px;
  }
}

.modal__title {
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .modal__title {
    font-size: 30px;
  }
}

.modal__description {
  margin: 0;
  color: #333333;
}

.modal__button {
  width: 100%;
  margin: 0 auto;
  padding: 18px 20px 14px;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .modal__button {
    font-size: 21px;
  }
}
/*# sourceMappingURL=style.css.map */